@using Taharifran.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

@model UserIndexViewModel
@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        @{
            if (Request.IsAuthenticated)
            {
                var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                var currentUser = manager.FindById(User.Identity.GetUserId());



                <p><h2>@currentUser.Firstname @currentUser.Lastname's Profilsida</h2></p>

                <div>
                    <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
                        margin: auto;
                        -moz-border-radius: 60px;
                        border-radius: 100px;
                        padding: 6px;
                        box-shadow: 0px 0px 20px #888;" />
                </div>

                <dt><h2>Förnamn:</h2></dt>
                <dd><h4>@currentUser.Firstname</h4></dd>

                <dt><h2>Efternamn:</h2></dt>
                <dd><h4>@currentUser.Lastname</h4></dd>

                <dt><h2>Age:</h2></dt>
                <dd><h4>@currentUser.Age</h4></dd>

                <dt ><h2>Description:</h2></dt>
                <dd><h4>@currentUser.Description</h4></dd>

                <dt><h2>Email:</h2></dt>
                <dd><h4>@currentUser.Email</h4></dd>
            }
        }

    </div>

    

    
</body>
</html>
