@using Taharifran.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@model Taharifran.Models.ProfileViewModel

@{
    ViewBag.Title = "ProfilePage";
}

<br />
<br />
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        @{
            if (Request.IsAuthenticated)
            {

                <p><h2>@Model.User.Firstname @Model.User.Lastname's Profilepage</h2></p>

                <div>
                    <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
                        margin: auto;
                        -moz-border-radius: 60px;
                        border-radius: 100px;
                        padding: 6px;
                        box-shadow: 0px 0px 20px #888;" />
                </div>

                <div>

                    <dt><h2>Firstname:</h2></dt>
                    <dd><h4>@Model.User.Firstname</h4></dd>

                    <dt><h2>Lastname:</h2></dt>
                    <dd><h4>@Model.User.Lastname</h4></dd>

                    <dt><h2>Age:</h2></dt>
                    <dd><h4>@Model.User.Age</h4></dd>

                    <dt><h2>Description:</h2></dt>
                    <dd><h4>@Model.User.Description</h4></dd>

                    <dt><h2>Email:</h2></dt>
                    <dd><h4>@Model.User.Email</h4></dd>

                    <td><dt><h2>@Html.ActionLink("Go to my wall", "Post")</h2></dt></td>



                    <td><h2>Friends:</h2></td>
                    @foreach (var friends in Model.Friends)
                    {
                        <h4><li>@friends.Firstname @friends.Lastname </li></h4>
                       
                    }

                </div>
            }
        }

    </div>




</body>
</html>