@model Taharifran.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<br />
<br />
<br />
<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h3>Change your account settings</h3>
    <hr />
    <dl class="dl-horizontal">

        <dt><h4>Password:</h4></dt>
        <dd>
            <h4>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </h4>
        </dd>
        <dt><h4>User Info:</h4></dt>
        <dd><h4> @Html.ActionLink("[ Edit user info ]", "ChangeInfo") </h4></dd>
       
        </dd>
    </dl>
</div>
